html {
  font-family: helvetica, arial, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/*borders for designing
header, nav, img, body, div {
  border: 1px solid white;
}
*/
header {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: black;
  height: 69px;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid seashell;
}

header img {
  position: fixed;
  align-self: center;
  left: 0px;
  margin-left: 10px;
  height: 50px;
}

nav {
  display: flex;
  display: inline-block;
  right: 0px;
  align-content: center;
  justify-content: flex-end;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  display: inline-block;
  display: flex;
  margin: 0px 15px;
  padding: 0px 5px;
}

nav a {
  color: seashell;
}

/*Moving on to the hero section*/


body {
  margin-top: 70px;
}

.hero {
  height: 700px;
  width: 100%;
  background-image: url("../images/img-mission-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  display: flex;
}

.hero-text {
  background-color: black;
  width: 100%;
}

.hero-text h2 {
  margin: 20px;
}

.hero-text h4 {
  margin: 15px;
}

/*Starting here on the lower content*/

.content {
  display: inline-block;
  justify-content: center;
}

.tea-month {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  flex-flow: row wrap;
  min-width: 300px;
  max-width: 1000px;
}

.tea-box {
  justify-content: space-around;
  width: 300px;
  margin: 0px 10px 10px 10px;
}

.tea-box img {
  width: 100%;
  max-height: 200px;
  display: flex;
}

.tea-box h4 {
  margin: 10px;
  padding: 0px;
}
/*because we're inevitably one commit behind*/

.locations {
  margin-top: 75px;
  height: 500px;
  width: 100%;
  background-image: url("../images/img-locations-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
}

.locations h2 {
  align-items: baseline;
  margin: 50px 0px 0px 0px;
  padding-bottom: 15px;
  padding-top: 50px;
}

.locations h3, .locations p {
  padding: 10px 0px;
}

.sites {
  display: flex;
  justify-content: center;
}

.site {
  flex-shrink: 2;
  flex-basis: 300px;
  max-width: 300px;
  background-color: black;
  margin: 0px 20px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.contact {
  height: 200px;
  display: block;
  align-items: center;
}

.contact a {
  text-decoration: none;
  color: seashell;
}

.footer {
  margin-left: 20px;
  text-align: left;
}
